

<div class="question_item">
    <div class="question_title_container">
        <div class="question_number ::status_class">
            ::number
        </div>
        <div class="q_title yh_font">
            ::title
        </div>
    </div>

    <div class="chose_container">
        ::chose
    </div>

    <div class="answer_container">
        <div class="answer_title">
            ::answer_title
        </div>

        <div class="answer_content">
            ::answer_content
        </div>
    </div>

</div>

<div class="question_line"></div>
